@using NanoIoC
@model dynamic

@{
	ViewBag.Title = "title";
	var user = Container.Global.Resolve<Hack24.Core.Entities.User>();
}

@if (user == null)
{
	<h2>You're not logged in</h2>
	<a href="/account/login">Log in</a>
}
else
{
	<h2>Hi, @user.Forename</h2>
}
