@using Hack24.Core.Entities
@using Hack24.Core.Repositories
@using NanoIoC
@model dynamic

@{
	ViewBag.Title = "Job Statisfaction";
	var user = this.User();
	User manager = null;
	if (user != null)
	{
		// sorry
		manager = Container.Global.Resolve<IUserRepository>().Get(user.ManagerId);
	}
}

@if (user == null)
{
	<h1>You need to log in to use this site #obvi</h1>
}
else
{
	if (user.ManagerId == Guid.Empty && !user.TeamMemberIds.Any())
	{
		// no manager and no team members - weird, error.
		<h1>You aren't a manager, and have no managers. Why are you here?!</h1>
	}
	else if (user.ManagerId == Guid.Empty)
	{
		// add way to nag employees?
		<h1>Your employees should rate you. Go nag them.</h1>
	}
	else
	{
		<h1>Go rate your manager @manager.Forename</h1>
		<a class="rate button large" href="/questionnaire">Rate</a>
	}
}