@model Hack24.Models.LeaderBoardModel

@{
	ViewBag.Title = "Leaderboard";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Leader Board</h1>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Score</th>
		</tr>
	</thead>
	<tbody>
@foreach (var row in Model.Leaderboard)
{
	<tr>
		<td><a href="/account/profile/@row.Id">@row.Name</a></td>
		<td>@row.Score</td>
	</tr>
}

	</tbody>
</table>
	
	