@model IEnumerable<Hack24.Core.Entities.Question>

@{
	ViewBag.Title = "Questions";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/questions")

<h1>Questionnaire</h1>
<p class="subtitle">Answer as many or as few questions as you like.</p>
<div id="question"></div>

