@model IEnumerable<Hack24.Core.Entities.Question>

@{
	ViewBag.Title = "Questionnaire";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/questions")

<h1>Questionnaire</h1>

<div id="question"></div>

<div class="finishBlock" style="display: none">
	<span>Thanks for filling this in, your HR manager is now slightly happier in life (at least until they see the results)</span>
	<img src="http://cobaltpm.com/wp-content/uploads/2012/10/project-manager-smiling-at-desk.jpg" />
</div>