@model System.Collections.Generic.List<Hack24.Core.Entities.Question>

@{
	ViewBag.Title = "Questionnaire";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Questionnaire</h2>

@foreach (var question in Model)
{
	@Html.Partial("Question", question)
}